@import url('https: //fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Work+Sans&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

*{
	margin: 0;
	padding: 0;
	box-shadow: border-box;
	box-sizing: border-box;
}

:root{
	--font: 'Montserrat', sans-serif;
	--prime-font: 'Work Sans', sans-serif;
	--bg: #000;
	--sec-bg: #1a1c20;
	--main-color: #fdfbfb;
	--main-font-color: #fdfbfb;
	--sec-font-color: #fcf1f1b4;
}

body{
	background: var(--bg);
	font-family: var(--font);
	color: var(--main-font-color);
	overflow-x: hidden;
}


@media (max-width: 400px){
	body{font-size: 10px;}

	.main{
		height: 450px;
	}
}


