@import url('https: //fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Work+Sans&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

*{
	margin: 0;
	padding: 0;
	box-shadow: border-box;
	box-sizing: border-box;
}

:root{
	--font: 'Montserrat', sans-serif;
	--prime-font: 'Work Sans', sans-serif;
	--bg: #000;
	--sec-bg: #1a1c20;
	--main-color: #fdfbfb;
	--main-font-color: #fdfbfb;
	--sec-font-color: #fcf1f1b4;
}

body{
	background: var(--bg);
	font-family: var(--font);
	color: var(--main-font-color);
	overflow-x: hidden;
}

.center{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* navbar */
.nav{
	width: 85%;
	height: 70px;
	margin: 0 auto;
	justify-content: space-between;
	position: sticky;
}

.checkBtn{
	display: none;
}

.nav .logo{
	font-size: 2em;
}

.nav ol{
	list-style: none;
}

.nav ol a{
	text-decoration: none;
	color: var(--sec-font-color);
	margin: 0.3em;
	padding: 0.5em 1.5em;
	border-radius: 10px;
}

.nav ol a:hover{
	transition: background .8s;
	background: var(--main-color);
	color: #1a1c20;
}

/* main section */
.main{

	width: 85%;
	height: 650px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	position: relative;
}

.main::before, .main::after{
	content: "";
	width: 80%;
	height: 70%;
	background: #151618;
	position: absolute;
	bottom: 0;
	right: -10%;
	z-index: -10;
}

.main::after{
	background: #15161885;
	height: 60%;
	top: 20px;
	left: -40%;
	border-top: 1px solid #f9803a;
	border-right: 1px solid #4985c9;
	z-index: -11;
}

.box h1{
	font-size: 4.5em;
	margin-bottom: 0.2em;
}

.box p{
	font-size: 1.2em;
	color: var(--sec-font-color);
	margin-bottom: 1.2em;
}

.box .btn{
	font-size: 1.2em;
	background: none;
	color: var(--sec-font-color);
	border: none;
	cursor: pointer;
	border: 1px solid var(--main-color);
	border-radius: 15px;
	width: 10em;
	height: 2.2em;
	transition: all .4s;
}

.box .btn:hover{
	background: linear-gradient(135deg, #e400cb 0%, #C850C0 46%, #FFCC70 100%);
	border: none;
	color: var(--main-font-color);
}

.main img{
	width: 35em;
	position: absolute;
	right: 10px;
	z-index: -1;
}

mark {
	background-color: #C850C0 ;
}

/* about section */
.about{
	/*
	background-image: url('https://images.pexels.com/photos/2047905/pexels-photo-2047905.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	*/
	background: #000;
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	position: relative;
	
}

.about-box h1{
	font-size: 3.5em;
	margin-top: 0.5em;
	margin-left: 11em;
	color: var(--main-font-color);
}

.about-box p{
	font-size: 1.1em;
	color: var(--main-font-color);
	margin-top: 1em;
	margin-left: 10em;
	width: 600px;
	text-align: justify;
	float: right;
}

.about img{
	float: left;
	width: 280px;
	height:280px;
	margin-left: 10em;
	margin-top: -6em;
	
}

.mydiv {
  width: 40px;
  height: 40px;
  margin-left: 35em;
  margin-top: 4em;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
  box-shadow:
    0 0 60px 40px #fff,  /* inner white */
    0 0 100px 60px #fff, /* middle magenta */
    0 0 140px 90px #fff; /* outer cyan */
}

/* skill section */
.skills{
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	position: relative;
	background: var(--bg);
}

.skill-box h1{
	font-size: 4em;
	margin-top: 0.5em;
	margin-left: 8.5em;
	color: var(--main-font-color);
}

.button-container-1 {
  position: relative;
  width: 100%;
  height: 100%; 
  margin-right: auto;
  overflow: hidden;
  border: none;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;
}

.button-container-1 button {
  width: 100%;
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  background: #960EFA;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}
.button-container-1 button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
}

.mas {
  position: absolute;
  color: #fff;
  text-align: center;
  width: 200px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 20px;
  margin-top: 14vh;
  overflow: hidden;
  font-weight: bold;
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}


/* work section */
.work{
	width: 100%;
	height: 30vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	position: relative;
	background: #000;
}

.work-box img{
	width: 70px;
	height: 70px;
	float: left;
	margin-left: 8em;
	margin-top: 0.5em;
}

.wrapper
{
	padding-bottom: 1px;
}

.divider
{
	position: relative;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: #960EFA;
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}

.contact{
	width: 100%;
	height: 50vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	position: relative;
	background: var(--bg);
}

.first-box{
	width: 50%;
	height: 50vh;
	border-radius: 10px;
	background-color: #e400cb;
	background-image: linear-gradient(135deg, #e400cb 0%, #C850C0 46%, #FFCC70 100%);
	float: right;
	
}

.first-box h1{
	font-size: 2em;
	text-align: justify;
	font-weight: normal;
	margin-top: 0.8em;
	margin-left: 3.4em;
	width: 75%;
	color: var(--main-font-color);
	word-spacing: -3px;
	font-family: Helvetica, sans-serif;
}

.first-box p{
	font-size: 1em;
	font-weight: 500;
	margin-top: 5.8em;
	margin-left: 7em;
	color: var(--main-font-color);
}

.second-box{
	width: 50%;
	height: 50vh;
	border-radius: 10px;
	background-color: #fff;
	float: right;
}

.second-box h1{
	font-size: 2em;
	text-align: justify;
	font-weight: normal;
	margin-top: 0.8em;
	margin-left: 3.4em;
	width: 75%;
	color: #000;
	word-spacing: -3px;
	font-family: Helvetica, sans-serif;
}

.second-box p{
	font-size: 1em;
	font-weight: 500;
	margin-top: 5.8em;
	margin-left: 7em;
	color: #000;
}

.myfirstbtn{
	font-size: 1.2em;
	background: none;
	color: var(--sec-font-color);
	border: none;
	cursor: pointer;
	border: 1px solid var(--main-color);
	border-radius: 15px;
	width: 10em;
	height: 2.2em;
	transition: all .4s;
	margin-left: 5.4em;
	margin-top: 1.5em;
}

.myfirstbtn:hover{
	background: var(--main-color);
	color: #1a1c20;
}

.mysecondbtn{
	font-size: 1.2em;
	background: none;
	color: #000;
	border: none;
	cursor: pointer;
	border: 1px solid #000;
	border-radius: 15px;
	width: 10em;
	height: 2.2em;
	transition: all .4s;
	margin-left: 5.4em;
	margin-top: 1.5em;
}

.mysecondbtn:hover{
	background: linear-gradient(135deg, #e400cb 0%, #C850C0 46%, #FFCC70 100%);
	border: none;
	color: var(--main-font-color);
}


.timeline ul h2 {
  font-size: 2em;
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul {
  background: #000;
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 10px;
  background: var(--main-color);
  border-radius: 7px;
  color: #000;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #C850C0 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #C850C0;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}	
.footer{
	width: 100%;
	height: 7vh;
	margin: 0 auto;
	display: flex;
	align-items: center;
	position: relative;
	background: #000;
}

.footer-box p{
	font-size: 1em;
	color: var(--main-font-color);
	float: left;
	margin-left: 6.7em;
}

.footer-box img{
	width: 15px;
	height: 15px;
	margin-left: 55em;
	cursor: pointer;
}

/* Projects Page */
.projects {
	width: 100%;
	height: 80vh;
	align-items: center;
	position: relative;
	margin: 0 auto;
	display: flex;
	background: #000;
	display: -webkit-box;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.comingsoon {
	width: 100%;
	height: 5vh;
	align-items: center;
	position: relative;
	margin: 0 auto;
	display: flex;
	background: #000;
	display: -webkit-box;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

/* Contact Page */
.contactMeBg {
	background-image: url('mybg.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	width: 100%;
	height: 90vh;
	align-items: center;
	position: relative;
	margin: 0 auto;
	display: flex;
	display: -webkit-box;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.contactMeBg-box a {
	color: var(--main-font-color);
	font-size: 35px;
	display: block;
	margin-top: 540px;
	text-decoration: none;
	text-align: center;
}

.contactMe {
	background: #000;
	width: 100%;
	height: 100vh;
	align-items: center;
	position: relative;
	margin: 0 auto;
	display: flex;
	display: -webkit-box;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.mycontact-box h1{
	font-size: 3.5em;
	color: var(--main-font-color);
	display: flex;
	margin-left: 2.7em;
	
}

.mycontact-box p{
	font-size: 1em;
	display: block;
	color: var(--main-font-color);
	margin-top: 1em;
	margin-left: 10em;
	width: 600px;
	text-align: justify;
}


.mycontact-box label {
	color: var(--main-font-color);
	font-size: 20px;
	display: flex;
	margin-left: 160px;
	margin-top: 30px;
}

.mycontact-box input {
	color: #000;
	font-size: 16px;
	border-radius: 10px;
	border: 1px solid #fff;
	width: 450px;
	display: block;
	margin: auto;
	padding: 14px 10px;
	margin-top: 10px;
	margin-bottom: 7px;
}

.mycontact-box textarea {
	color: #000;
	font-family: sans-serif;
	font-size: 16px;
	border-radius: 10px;
	border: 1px solid #fff;
	width: 450px;
	display: block;
	margin: auto;
	padding: 14px 10px;
	margin-top: 10px;
	margin-bottom: 7px;
}

.mycontact-box button {
		font-size: 1.2em;
	background: none;
	color: #fff;
	cursor: pointer;
	border: 1px solid #fff;
	border-radius: 15px;
	width: 23.6em;
	height: 2.2em;
	transition: all .4s;
	margin-left: 8em;
	margin-top: 1em;
}

.mycontact-box button:hover{
	background: linear-gradient(135deg, #e400cb 0%, #C850C0 46%, #FFCC70 100%);
	border: none;
	color: var(--main-font-color);
}

.mycontact-box img {
	width: 30px;
	height: 30px;
	margin: auto;
	display: block;
	margin-top: 2em;
	margin-left: -150px;
	margin-right: 245px;
	cursor: pointer;
	
}

.text-js {
  opacity: 0;
}

.cursor {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  -webkit-animation: flash 0.5s none infinite alternate;
          animation: flash 0.5s none infinite alternate;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.headline {
  margin: 20px;
  color: white;
  font-size: 32px;
  text-align: center;
}
.headline h1 {
  letter-spacing: 1.6px;
  font-weight: 300;
}

/** CSS For Different Platforms **/

@media (max-width: 1250px){
	.main img{ width: 25em; right: 0; }
}

@media (max-width: 1000px){
	body{font-size: 14px;}
	.main img{width: 35em; top: 80px;}
	.main {align-items: flex-end;}
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For landscape layouts only */
	.box p{
	font-size: 3em;
}

	
}

@media (max-width:  900px){
	.main img{width: 30em;}
}

@media (max-width: 600px){
	.main img{width: 22em;}
}

@media (max-device-width: 480px){
	html, body{
	font-size:10px;	
	overflow-x: hidden;
	}
	
	.nav .logo{
	font-size: 26px;
}
	.nav ol a{
	font-size: 18px;
}

	.main{
		height: 450px;
	}
	
	
.box p{
	font-size: 1.8em;
}

.box .btn{
	font-size: 1.8em;
	height: 3em;
	
}
	
	.about{
	width: 100%;
	height: 45vh;	
		
}

	.about-box h1{
	font-size: 5em;
	margin-top: 1em;
	margin-left: 1.8em;
}

.about-box p{
	font-size: 1.3em;
	margin-top: 1em;
	margin-left: 6.7em;
	width: 800px;
	text-align: justify;
}

.about img{
	display: none;
}
	
.work{
	width: 100%;
	height: 10vh;
}
	
/** Conatct Section **/
.contact{
	width: 100%;
	height: 20vh;
}

.first-box{
	width: 50%;
	height: 20vh;	
}

.first-box h1{
	font-size: 3em;
	text-align: left;
}

.first-box p{
	font-size: 1.8em;
	margin-left: 5.6em;
}

.second-box{
	width: 50%;
	height: 20vh;
}

.second-box h1{
	font-size: 3em;
}

.second-box p{
	font-size: 1.8em;
	margin-left: 5.6em;
}

.myfirstbtn{
	font-size: 1.8em;
	height: 3em;
	margin-left: 5.5em;
	

}


.mysecondbtn{
	font-size: 1.8em;
	height: 3em;
	margin-left: 5.5em;
}

.timeline ul li {
  font-size: 12px;
}

time {
  font-size: 14px;
}	

	
/** Footer Section **/
.footer{
	width: 100%;
	height: 2vh;
}

.footer-box p{
	font-size: 2em;
	float: left;
	margin-left: 6.7em;
	margin-top: 0.8em;
	
}

.footer-box img{
	width: 20px;
	height: 20px;
	margin-left: 40em;
	margin-top: 1.5em;
}
	
/* Projects Page */
.projects {
	width: 100%;
	height: 30vh;
}

.comingsoon {
	width:100%;
	height: 3vh;
	}

/* Contact Page */
.contactMeBg {
	background-image: url('mybg.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	width: 100%;
	height: 40vh;
}

.contactMe {
	background: #000;
	width: 100%;
	height: 60vh;
	overflow-y:hidden;
	overflow-x:hidden;
}

.mycontact-box h1{
	font-size: 8em;
	margin-left: 1.8em;
	display: flex;
	
}

.mycontact-box p{
	font-size: 2em;
	margin-left: 8em;
	display:block;
	
}


.mycontact-box label {
	font-size: 24px;
	display: flex;
}

.mycontact-box input {
	font-size: 16px;
	display: block;
	padding: 18px 10px;
}

.mycontact-box textarea {
	font-family: sans-serif;
	font-size: 16px;
	padding: 18px 10px;
}

.mycontact-box button {
	font-size: 1.8em;
	width: 25em;
	height: 2.8em;
	margin-left: 8.5em;
}

}
